/* denormalize - kleiner joke */

$font-color: #000;
$link-color: #48879a;
$link-color-hover: #111;
$subtitle-color: rgba(0,0,0,.44);

div, section, article {
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all .1s ease-out;

  &:hover {
    color: $link-color-hover;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a, .primer a {
  color: $font-color;
}

.container-text a {
  color: $link-color;
  padding: 10px 0;
  background-image: linear-gradient(currentColor,currentColor);
  background-repeat: no-repeat;
  background-size: 100% 1.5px;
  background-position: center bottom 27%;
  background-origin: padding-box;
  text-shadow: 3px 0 #fff,2px 0 #fff,1px 0 #fff,-1px 0 #fff,-2px 0 #fff,-3px 0 #fff;

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
    background-size: 100% 2.5px;
    background-position: center bottom 25%;
  }
}

h1 {
   // margin-top: 0;
}

h1, h2, h3 {
    font-size: 24px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
    &.subtitled {
      margin-bottom: 5px;
    }
}

p {
  margin: 5px auto 15px auto;
}
.subtitle {
    font-size: 24px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    color: $subtitle-color;
    fill: $subtitle-color;
}

.container-text {
  margin: auto 15px;
}

.container {
  max-width: 600px;
  margin: auto;
  position: relative;
  text-align: center;
}

.main {
  margin-top: 15px;
  margin-bottom: 75px;
}
.logo-wrapper {
  margin-bottom: 15px;
}

.nav {
  position: fixed;
  bottom: 0;
  left:0;
  z-index: 10;
  width:100%;

  .hamburger-wrapper {
    z-index: 10;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 75px;
    width: 75px;

    .hamburger-icon {
      position: relative;
      margin: 15px;

      width: 45px;
      height: 45px;

      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      transform: scale(0.7);


      span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: #fefefe;
        border-radius: 2px;
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2) {
          top: 15px;
        }

        &:nth-child(3) {
          top: 30px;
        }
      }

      &.open span {
        // flat when overlay open
        box-shadow: none;

        &:nth-child(1) {
          top: 18px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        &:nth-child(3) {
          top: 18px;
          transform: rotate(-135deg);
        }
      }
    }
  }

  .breadcrumb {
    position: absolute;
    bottom: 35px;
    left: 0px;
    width: 300px;
    height: 45px;
    z-index: 10;

    div {
      position: relative;
      height: 75px;
      float: left;
      // defaults
      width:60px;
      a {
        display: block;
        position: absolute;
        width:100%;
        bottom: 6px;
        svg {
          bottom: 0px;
        }
      }

      // overwrites
      &:nth-child(1) {
        width:60px;
        a { bottom: 0px}
      }
      &:nth-child(2) {
        width:40px;
        a { bottom: 4px}
      }
      &:nth-child(3) {
        width:35px;
        a { bottom: 5px}
      }
      &:nth-child(4) {
        width:30px;
      }
    }
  }

  .overlay-menu {
    /* Overlay style */
    z-index: 9;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 89, 100,0.95);


    /* Effects */
    visibility: hidden;
    transform: translateY(60%) scale(0);
    transition: transform 0.4s, visibility 0s 0.4s;

    &.open {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      visibility: visible;
      transform: translateY(0%) scale(1);
      transition: transform 0.4s;
    }

    /* Menu style */
    nav {
      text-align: center;
      position: relative;
      top: 50%;
      height: 60%;
      transform: translateY(-50%);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      height: 100%;
      position: relative;

      li {
        display: block;
        height: 20%;
        min-height: 54px;
        backface-visibility: hidden;

        a {
          text-decoration: none;
          text-shadow: none;
          background: none;
          font-size: 40px;
          font-weight: 300;
          display: block;
          color: #fff;
          transition: color 0.2s;

          &:hover,
          &:focus {
            color: #e3fcb1;
          }
        }
      }
    }

    @media (max-height: 600px) {
      nav {
        height: 70%;
        ul li a {
          font-size: 34px;
        }
        ul li {
          min-height: 34px;
        }
      }
    }
  }
}

img {
  width:100%;
  height: auto;
}

.primer {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.06em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


